
  <header class="header">
    <div class="header__container">
      <h1>Pharmacy at its best</h1>
      <h5>Why you have to go to medical stores when you can find anything here regarding Pharmacy &amp; Lifestyle at its
        best prices only &amp; only here.</h5>
      <a class="btn btn--secondary" href="#">Read more</a>
    </div>
    <div class="header__img">
      <img src="./images/header.png" alt="">
    </div>
  </header>

  <section class="section-services">
    <h1 class="text-center title text-white">Our Offered Services</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <i class="far fa-hospital"></i>
            <h2 class="display-5">Better Services</h2>
            <h5 class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora modi ex obcaecati
              recusandae omnis eveniet culpa aliquam soluta.</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <i class="fas fa-briefcase-medical"></i>
            <h2 class="display-5">Quality Equipment</h2>
            <h5 class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora modi ex obcaecati
              recusandae omnis eveniet culpa aliquam soluta.</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <i class="fas fa-stethoscope"></i>
            <h2 class="display-5">Advance Technology</h2>
            <h5 class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora modi ex obcaecati
              recusandae omnis eveniet culpa.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section-products mt-5">
    <h1 class="title text-center">Trending Products</h1>
    <div class="container">
      <div class="prodcrous">
        <a href="#">
          <img src="images/products/1.jpg" alt="">
        </a>
        <a  href="#">
          <img src="images/products/2.jpg" alt="">
        </a>
        <a  href="#">
          <img src="images/products/3.jpg" alt="">
        </a>
        <a  href="#">
          <img src="images/products/4.jpg" alt="">
        </a>
        <a  href="#">
          <img src="images/products/1.jpg" alt="">
        </a>
        <a  href="#">
          <img src="images/products/2.jpg" alt="">
        </a>
      </div>
    </div>
  </section>
