<div class="container" style="margin-top: 180px;">
    <form action="/users/login" method="POST" >
        <input name="username" type="text" class="form-input" placeholder="Enter Your Username">
        <input name="password" type="password" class="form-input" placeholder="Enter Password">
        <div class="mt-5">
            <button class="btn btn--secondary">Login</button>
        </div>
    </form>
</div>s