<div class="container mt">
    <form action="/users/register" method="POST">
                <div class="form-group">
                    <input type="text" class="form-input" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <input type="email" class="form-input"  name="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-input"  name="password" placeholder="Enter Your password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-input"  name="password2" placeholder="Confirm Your password">
                </div>

                <h3 class="mb-3 mt-3">Personal Information for Delevery</h3>
                <div class="form-group">
                    <label for="address">Adress:</label>
                    <textarea name="address" id="address" cols="30" rows="10" style="width: 100%"></textarea>
                </div>

                  <label for="address">State:</label>
                <input type="text" name="state" class="form-input" placeholder="State">
                      <label for="address">City:</label>
                <input type="text" name="city" class="form-input" placeholder="City">
                      <label for="address">PinCode:</label>
                <input type="text" name="pincode" class="form-input" placeholder="PinCode">
                
                <div class="form-group mt-90">
                    <input type="submit" value="Register" class="btn btn-block btn-primary">
                </div>
            </form>
</div>